body {
    background-color: #f6f6f6;
}

.card {
    margin: 15px 0;
    padding-bottom: 30px;
}

.pet{
    width: 165px;
    height: 250px;
    margin: 0 0 10px 16px;
}

.text-blue{
    color: #0084ff;
}

.pet-img{
    width: 200px;
    height: 160px;
}

.pet-img-small{
    width: 163px;
    height: 130px;
}

.pet-img-container{
    position: relative;
    width: 163px;
    height: 130px;
    float: left;
}

.generate-text{
    margin: 30px auto;
}

#pet-change a{
    margin-right: 30px;
    font-size: 14px;
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

#pet-change{
    position: absolute;
    bottom: -28px;
    right: 0;
}

a:hover{
    color: rgba(0,0,0,.9);
}

a:active{
    color: rgba(0,0,0,.9);
}

#forget a{
    text-decoration: none;
}

#login-form{
    margin: 50px auto 420px auto;
}

#receive-bg{
    width: 100%;
}

#receive{
    margin: 40px;
}

#receive-text{
    margin: 30px 0;
}

#avatar{
    width: 50px;
    height: 50px;
}

#profile-avatar{
    padding: 10px 10px 20px 10px;
}

#my-pets{
    padding-top: 20px;
}

#my-email-div{
    margin: 30px 40px;
}

#info-div{
    color: #696969;
    margin: 50px 20%;
}

#pet-div{
    margin: 0 0 0 32%;
}

