body {
    background-color: #f6f6f6;
}

.card {
    margin: 15px 0;
    padding-bottom: 30px;
}

.pet{
    width: 200px;
    height: 280px;
    margin: 0 0 10px 16px;
}

.pet-price{
    color: #0084ff;
}

#sort a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin-right: 20px;
}

#sort a:hover{
    color: rgba(0,0,0,.9);
}

#sort a:active{
    color: rgba(0,0,0,.9);
}

#forget a{
    text-decoration: none;
}